* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


.menu-area li a {
  text-decoration: none;
}

.menu-area li {
  list-style-type: none;
}


nav {
  position: relative;
  margin: 0 auto;
  padding: 8px 0;
  background: #333;
  text-align: right;
  padding-right: 2%;
}

.logo {
  cursor: pointer;
  width: 15.5%;
  float: left;
  position: sticky;
  top: 0rem;
  z-index:1;
}

.menu-area li {
  display: inline-block;
}

.menu-area a {
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
.menu-area a:hover {
  background: tomato;
  color: #fff;
}

.menu-area a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
}

nav:before {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}
